@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
*{
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Orbitron',sans-serif;
}
header,footer{
    display: flex;
    background-color: black;
    padding: 10px;
    text-align: center;
    width: 100%;
    font-size: 24px;
    color: yellow;
}
header input[type="text"], footer input[type="text"]{
    width: 50px;
    font-size: 20px;
    border: none;
    background: none;
    color: white;
}
header input[type="text"]{
    text-align: center;
    width: 100px;
}
header select{
    width: 135px;
    background-color: wheat;
}
header select, header select option{
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}
header ul{
    list-style: none;
}
header ul li{
    display: inline-block;
}
header ul li button{
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: blueviolet;
    color: white;
}
header ul li button:hover{
    box-shadow: 1px 1px 1px white;
    cursor: pointer;
}
.porcentagem{
    color: white;
}
main{
    font-size: 500px;
    text-align: center;
}
footer{
    position: fixed;
    bottom: 0px;
}
.desativado{
    cursor: not-allowed;
    background-color: gray;
    color: red;
    box-shadow: none;
}
.certo{
    color: green;
}
.errado{
    color: red;
}